---
import BaseLayout from '../layouts/BaseLayout.astro';
import ChessStats from '../components/chesscom.tsx';
import Strava from "../components/strava.js";
import ErrorRenderer from "../Error.astro";
import TriathlonStats from '../components/TriathlonStats.jsx';

const pageTitle = "Josh Olivier — About";

const currentYear = new Date().getFullYear();

// Display error message if Strava API messes up
let data, error
try {
  const strava = new Strava()
  data = await strava.fetch()
} catch (e) {
  error = e.message
  if (error.includes("401")) {
    throw Error(
      "Something went wrong with the Strava API, try updating your refresh_token",
    )
  }
}
---

<BaseLayout pageTitle={pageTitle} shouldCenterTitle={false} shouldShowTitle={false}>
  <h1>About me</h1>
    <p>
      My name is Josh Olivier, and I'm a lab manager in a neuroimaging research lab in Dallas, Texas.
    </p>

    <p>
      I'm interested in researching how memory, brain structure, and brain function
      are related and how these relationships change with increasing age across the lifespan.
    </p>
    
    <p>
      In my free time, I love traveling, trying new foods, 
      and learning new skills. I learned Portuguese
      after spending some time living in Manaus, Brazil. There, I enjoyed eating lots of 
      açaí, tacacá, and grilled tambaqui. I visit Brazil often and try to explore a new region of 
      the country at least once each year.
      In addition to Portuguese, I'm currently working on learning Spanish.
    </p>

    <p>
      Some of my other hobbies include fiddling with my 3D printer, drinking tereré (cold yerba mate), and training for triathlons. 
      So far, in <strong>{new Date().getFullYear()}</strong>, I’ve logged the following distances{" "}
        <span style={{fontWeight: 'bold', color: "#3399ff"}}>swimming</span>,{" "}
        <span style={{fontWeight: 'bold', color: "#33cc33"}}>biking</span>, and{" "}
        <span style={{fontWeight: 'bold', color: "#ff9900"}}>running</span>, according to my data from Strava:
    </p>

	<TriathlonStats client:load data={data} error={error} />
	    <ErrorRenderer error={error} />
  
      <p>
        In my free time, I also love playing online chess, especially speed chess, where time controls are set so each player is allotted a limited amount of time to play their moves.
        Here are my current ratings on chess.com for three categories of speed chess: 
        <span style={{fontWeight: 'bold', color: "#ff0000"}}>bullet</span>,{" "} 
        with time controls of less than 3 minutes per player, 
        <span style={{fontWeight: 'bold', color: "#ff3399"}}>blitz</span>,{" "} 
        with time controls of less than 10 minutes per player, and 
        <span style={{fontWeight: 'bold', color: "#9933ff"}}>rapid</span>,{" "}
        with time controls of more than 10 minutes per player:
      </p>
	<ChessStats client:load />
</BaseLayout>