---
import BaseLayout from '../layouts/BaseLayout.astro';
import ChessStats from '../components/chesscom.tsx';
import Strava from "../components/strava.js";
import ErrorRenderer from "../Error.astro";
import TriathlonStats from '../components/TriathlonStats.jsx';

const pageTitle = "Josh Olivier — About";

const currentYear = new Date().getFullYear();

// Display error message if Strava API messes up
let data, error
try {
  const strava = new Strava()
  data = await strava.fetch()
} catch (e) {
  error = e.message
  if (error.includes("401")) {
    throw Error(
      "Something went wrong with the Strava API, try updating your refresh_token",
    )
  }
}
---

<BaseLayout pageTitle={pageTitle} shouldCenterTitle={false} shouldShowTitle={false}>
  <h1>About me</h1>
    <p>
      My name is Josh Olivier, and I'm a lab manager in a neuroimaging research lab in Dallas, Texas.
    </p>

    <p>
      I'm interested in researching how memory, brain structure, and brain function
      are related and how these relationships change with increasing age across the lifespan.
    </p>
    
    <p>
      In my free time, I love traveling, trying new foods, 
      and learning new skills. I learned Portuguese
      after spending two years living in northern Brazil, where I enjoyed eating lots of 
      açaí, tacacá, and tambaqui. I'm currently working on learning Spanish.
    </p>

    <p>
      I also love training for triathlons, fiddling with my 3D printer, and drinking tereré (cold yerba mate). 
    </p>

	<TriathlonStats client:load data={data} error={error} />
	    <ErrorRenderer error={error} />

  <br></br>
	    
	<ChessStats client:load />

	<p class="footnote">*Data from my <a href="https://www.strava.com/athletes/26573817" target="_blank" rel="noopener noreferrer">Strava</a> profile</p>
	<p class="footnote"><sup>†</sup>Data from my <a href="https://www.chess.com/member/pichugang" target="_blank" rel="noopener noreferrer">Chess.com</a> profile</p>     

</BaseLayout>