---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import BlogSorter from "../components/BlogSorter.jsx";
import Panels from '../components/Panels.astro';
import { PAGE_META } from '../data/page-meta';

const pageTitle = "Josh Olivier - Blog";
const allPosts = await getCollection("blog");
---

<BaseLayout pageTitle={pageTitle} titleHtml="Blog" shouldCenterTitle={false} ogImage="/social-cards/blog.png" description={PAGE_META.blog.description}>

<Panels posts={allPosts} />

   <div style={{ marginTop: '0rem'}}>
      <BlogSorter posts={allPosts} client:load /> 
   </div>
   
</BaseLayout>
