---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const pageTitle = "Blog";
const allPosts = await getCollection("blog");
---
<BaseLayout pageTitle={pageTitle}>
  <div 
    style="text-align: center; font-style: italic;">
  </div>
  <nav>
    <a href="/tags" class="tag-index-link">#Tag Index</a>
  </nav>
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost 
          url={`/posts/${post.id}/`} 
          title={post.data.title} 
          image={post.data.image} 
          pubDate={post.data.pubDate}
        />
      ))
    }
  </ul>
</BaseLayout>
