---
import BaseLayout from "../layouts/BaseLayout.astro";
import cv from '../data/cv.json';
import '../styles/cv.css'
import { Mail, Rss, Volume2, Speech, ExternalLink } from "lucide-preact";
import Callout from '../components/Callout.astro';

const pageTitle = "Josh Olivier - CV";
const { basics, education, publications, presentations, researchExperience, grants, awards, service, affiliations, skills } = cv;

function formatDate(str) {
  if (!str) return '';
  const d = new Date(str);
  return `${d.toLocaleString('default', { month: 'short' })} ${d.getFullYear()}`;
}

function formatDateFull(str) {
  if (!str) return '';
  const d = new Date(str);
  return d.toLocaleDateString('default', { year: 'numeric', month: 'long', day: 'numeric' });
}
---
<script>
  document.getElementById('print-button').addEventListener('click', function() {
    window.print(); 
  });
</script>

<BaseLayout pageTitle={pageTitle} shouldCenterTitle={false} shouldShowTitle={false}>

<main>
<h1 class="cv-page-title">CV</h1>

<hr class="rainbow-hr">

<Callout type="tip">
  To download a PDF, select <code class="btn-code">Print</code> and choose <code>Save as PDF</code> (or its equivalent) from your browser’s print dialog.
</Callout>



 <div class="cv-container">
  <button id="print-button" class="btn">Print</button>

      <h2 class="h2-cv">{basics.name}</h2>

      <div class="print-only">
  <div class="print-header">
    <h3 class="h3-cv">Personal Information</h3>
    <hr />
  </div>
  {basics.location.address && (
    <div>
      {basics.location.address} <br />
      {basics.location.city}, {basics.location.postalCode}
    </div>
  )}
  <div>{basics.phone}</div>
  <div>{basics.email}</div>
  <div>{basics.altEmail}</div>
  <div>{basics.url}</div>
</div>
      
      <section>
        <div class="print-header">
        <h3 class="h3-cv">Education</h3>
        <hr />
        </div>
        {education.map(ed => (
          <div key={ed.institution} class="section-item item-entry">
            <div class="item-header">
              <div>{ed.studyType}, {ed.area}, {ed.institution} {ed.score && <span>(GPA: {ed.score})</span>} {/* show GPA only if listed in cv.json */}
              </div>
              <span class="date-range">{formatDate(ed.startDate)} – {formatDate(ed.endDate)}</span>
            </div>
            <div class="indent-item-simple">
            
            {ed.advisor && <div>Advisor: {ed.advisor}</div>} {/* show advisor only if listed in cv.json */}
            
            {ed.courses && ed.courses.length > 0 && ( /* show coursework only if listed in cv.json */
                <div class="indent-item"><i>Relevant coursework:</i></div> 
                <ul class="two-column-list">
                  {ed.courses.map((course, index) => (
                    <li key={index}>{course}</li>
                  ))}
                </ul>
            )}
            </div>
          </div>
        ))}
      </section>

      <section>
        <div class="print-header">
        <h3 class="h3-cv">Publications</h3>
        <hr />
        </div>
          <div>
            {publications.map(pub => (
              <div class="reference-entry print-section">
                <Fragment set:html={`${pub.authors.replace(/Olivier, J. M\./g, '<span class="my-name";>Olivier, J. M.</span>')}`} />
                ({pub.year}). {pub.name}. <em>{pub.publisher}</em>. 

{/* Print: show the full URL */}
                <span class="print-only"><a href={pub.url} target="_blank" rel="noopener noreferrer">{pub.url}</a></span>

                {/* Desktop/website: show only the icon */}
                <a href={pub.url} target="_blank" rel="noopener noreferrer" class="print-hide">
                </a>
                
                </div>

          </div>
          ))}
        </div>
        <div class="footnote">*These authors have contributed equally to this work and share first authorship</div>
        <div class="footnote">**These authors jointly supervised this work and share senior authorship</div>
      </section>

      <section>
        <div class="print-header">
        <h3 class="h3-cv">Presentations</h3>
          <hr/>
          </div>
          <div>
            {presentations.map(pres => (
              <div class="reference-entry print-section">
                <Fragment set:html={`${pres.authors.replace(/Olivier, J. M\./g, '<span class="my-name">Olivier, J. M.</span>')}`} />
                ({pres.year}, {pres.dateRange}). <i>{pres.name}</i> [{pres.type}].
                {pres.conference}, {pres.location}.
                {pres.url && (
                  <> <a href={pres.url} target="_blank" rel="noopener noreferrer">{pres.url}</a></>
                )}
              </div>
            ))}
          </div>
        <div></br>
        <div class="footnote">*Presenter</div>
        </div>
      </section>

     <section>
      <div class="print-header">
        <h3 class="h3-cv">Research Experience</h3>
        <hr />
        </div>
        {researchExperience.map(res => (
          <div class="section-item item-entry print-section">
            <div class="item-header">
              <div><strong>{res.lab}</strong></div>
              <span class="date-range">
                {res.startDate
                  ? `${formatDate(res.startDate)} – ${res.endDate ? formatDate(res.endDate) : 'Present'}` 
                  : ''} {/* if startDate contains a date and endDate is blank, show Present as the endDate */}
              </span>
            </div>
            <div>
            <div>{res.institution}</div>
            <div>Mentor: {res.mentor}</div>
            <div>Title: {res.title}</div>
            </div>
            {res.duties && res.duties.length > 0 && ( /* show duties only if listed in cv.json */
                <ul>
                  {res.duties.map((duty, index) => (
                    <li key={index}>{duty}</li>
                  ))}
                </ul>
            )}
          </div>
        ))}
      </section>

      <section>
        <div class="print-header">
        <h3 class="h3-cv">Grants &amp; Fellowships</h3>
        <hr />
        </div>
        {grants.map(g => (
          <div class="section-item item-entry print-section">
            <div class="item-header">
              <div><strong>{g.title}</strong></div>
              <span>{formatDate(g.date)}</span>
            </div>
            <div>
            {g.awarder}
            <div>{g.summary}</div>
            <div>Award: {g.award}</div>
            </div>
          </div>
        ))}
      </section>

      <section>
        <div class="print-header">
        <h3 class="h3-cv">Honors, Awards &amp; Certificates</h3>
        <hr />
        </div>
        {awards.map(a => (
          <div class="section-item item-entry print-section">
            <div class="item-header">
              <div><strong>{a.title}</strong></div>
              <span>{formatDate(a.date)}</span>
            </div>
            <div>{a.awarder}
            <div>{a.summary}</div>
            </div>
          </div>
        ))}
      </section>

      <section>
        <div class="print-header">
          <h3 class="h3-cv">Service, Work &amp; Activities</h3>
         <hr />
        </div>
        {service.map(s => (
          <div class="section-item item-entry print-section">
            <div class="item-header">
              <div><strong>{s.title}</strong></div>
              <span class="date-range">
                {s.startDate
                  ? `${formatDate(s.startDate)} – ${s.endDate ? formatDate(s.endDate) : 'Present'}` 
                  : ''} {/* if startDate contains a date and endDate is blank, show Present as the endDate */}
              </span>
            </div>
            <div>{s.organization}
            <div>{s.summary}</div>
            </div>
          </div>
        ))}
      </section>

      <section>
        <div class="print-header">
        <h3 class="h3-cv">Professional Affiliations</h3>
        <hr />
        </div>
        {affiliations.map(aff => (
          aff.organization.map(org => (
            <div>{org}</div>
          ))
        ))}
      </section> 

   <section>
    <div class="print-header">
  <h3 class="h3-cv">Skills</h3>
  <hr />
  </div>
  {skills.map(skillCategory => {
    let introText = "";

    switch (skillCategory.category) {
      case "Software":
        introText = "Proficiency with the following software:";
        break;
      case "Programming":
        introText = "Experience with the following languages:";
        break;
      case "Web Development":
        introText = "Web development experience with:";
        break;
      case "Neuropsychological Tests":
        introText = "Experience administering and scoring neuropsychological tests with healthy and clinical adult participants (ages 18-85+) in a research setting, including:";
        break;
      case "Languages":
        introText = "Languages spoken:";
        break;
      default:
        introText = "";
    }

  const listClass = skillCategory.category === "Programming"
    ? "single-column-list" /* make Programming Languages a single-column list--an exception to the rule */ 
    : "three-column-list";

  return (
    <div class="skill-category print-section">
      <div><strong>{skillCategory.category}</strong></div>
      <div>{introText}</div>
      <ul class={listClass}>
        {skillCategory.items.map(item => (
          <li key={item}>{item}</li>
        ))}
      </ul>
    </div>
  );
})}
</section>

    </div>
  </body>
</html>
</main>
</BaseLayout>