---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogSorter from '../components/BlogSorter.jsx';
import { Info, GraduationCap, Rss, Contact, Compass } from "lucide-preact";
import Callout from '../components/Callout.astro';


const pageTitle = "Josh Olivier - Home";

let allPosts = await getCollection("blog");

  // Sort by date (newest first)
  allPosts = allPosts.sort(
    (a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate)
  );

const recentPosts = allPosts.slice(0, 5); // show the newest 3 blog posts by pubDate
---
<BaseLayout pageTitle={pageTitle} shouldCenterTitle={false} shouldShowTitle={false}>

  <h1>josholivier<span class="title-muted">.com</span></h1>  

  <hr class="rainbow-hr">

  <h2>Hi, I'm Josh!</h2>

    <p>

      I'm a lab manager in a neuroimaging research lab in Dallas, Texas.

      I'm interested in studying how memory, brain structure, and brain function are related and how these relationships change with age.

    </p>

<h3>Explore</h3>

<ul class="indented-icon-list">
  <li><Info size="1rem"/><a href="/about">About</a>
  <li><GraduationCap size="1rem"/><a href="/cv">CV</a>
  <li><Rss size="1rem"/><a href="/blog">Blog</a> 
  <li><Contact size="1rem"/><a href="/contact">Contact</a></li> 
</ul>
  
  <h3>Latest posts</h3>

    <BlogSorter  
      posts={recentPosts} 
      client:load 
      showSort={false}
      showTags={false}
    />

    → see <a href="/blog">more posts</a>

</BaseLayout>