---
import { getCollection } from "astro:content";
import { Image } from 'astro:assets';
import { Info } from "lucide-preact";

import BaseLayout from '../layouts/BaseLayout.astro';
import BlogSorter from "../components/BlogSorter.jsx"; 
import headshotPhoto from '../assets/josh-headshot-cropped.jpg';

const pageTitle = "Josh Olivier - Home";

let allPosts = await getCollection("blog");

  // Sort by date (newest first)
  allPosts = allPosts.sort(
    (a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate)
  );

const recentPosts = allPosts.slice(0, 3); // show the newest 3 blog posts by pubDate
---
<BaseLayout pageTitle={pageTitle} shouldCenterTitle={false} shouldShowTitle={false}>

  <h1>JoshOlivier<span class="title-muted">.com</span></h1>  

  <div class="wave-container">
    <div class="wave wave-small"></div>
    <div class="wave wave-big"></div>
  </div>

  <Image
    src={headshotPhoto}
    alt="Josh Olivier"
    class="home-pic"
    loading="eager"
    priority
  />

  <h2>Hi, I'm Josh!</h2>

    <p>

      I'm a lab manager in a neuroimaging research lab in Dallas, Texas. 

      I'm interested in studying how memory, brain structure, and brain function are related and how these relationships change with age.

    </p>
    
    <p>I also love traveling, 3D printing, triathlons, and tereré 🧉!</p>
  
    <div class="blockquote">

      <div class="icon-container">
        <Info size={"1.2rem"} style={{color: "var(--neutral-500)"}}/> &nbsp; <strong>Info</strong>
      </div>
     
      <ul>
        <li>Read more about me on my <a href="https://josholivier.com/about/">About</a> page!</li>     
        <li>Check out my research work on my <a href="https://josholivier.com/cv/">CV</a>.</li>
      </ul>
    </div>

  <h2>Latest posts</h2>

    <BlogSorter
      posts={recentPosts} 
      client:load 
      showSort={false}
      showTags={false}
    />

</BaseLayout>