---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogSorter from '../components/BlogSorter.jsx';
import { Info, GraduationCap, Rss, Contact, Compass } from "lucide-preact";
import Callout from '../components/Callout.astro';


const pageTitle = "Josh Olivier - Home";

let allPosts = await getCollection("blog");

  // Sort by date (newest first)
  allPosts = allPosts.sort(
    (a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate)
  );

const recentPosts = allPosts.slice(0, 5); // show the newest 3 blog posts by pubDate
---
<BaseLayout pageTitle={pageTitle} shouldCenterTitle={false} shouldShowTitle={false}>

  <h1>josholivier<span class="title-muted">.com</span></h1>  

  <hr class="rainbow-hr">


  <h2>Hi, I'm Josh!</h2>

  <p>
      I'm an incoming Psychology PhD student at UC Riverside, and currently, a lab manager in the 
      <a href="https://fnim.utdallas.edu/" target="_blank" rel="noopener noreferrer">Functional Neuroimaging of Memory Lab</a> at UT Dallas. 
  </p>

  <p>
      I'm interested in how the brain supports episodic memory—the ability to remember previously experienced events—and how 
      memory-related brain mechanisms are affected by aging or disrupted by neurological conditions like Alzheimer's disease.
  </p>

  <p>
   Here, you can learn more <a href="/about">about me</a>, check out my <a href="/cv">CV</a>, and
    read my <a href="/blog">blog</a>, where I share posts about my research and hobbies like travel, triathlons, and 3D printing.
  </p>

  <p>
    Also, feel free to <a href="/contact">contact me</a> if you have any questions or want to say hi!
  </p>

<h2>Explore</h2>

<ul class="indented-icon-list">
  <li><Info size="1rem"/><a href="/about">About</a>
  <li><GraduationCap size="1rem"/><a href="/cv">CV</a>
  <li><Rss size="1rem"/><a href="/blog">Blog</a> 
  <li><Contact size="1rem"/><a href="/contact">Contact</a></li> 
</ul> 
  
  <h2>Latest posts</h2>

    <BlogSorter  
      posts={recentPosts} 
      client:load 
      showSort={false}
      showTags={false}
    />

    → see <a href="/blog">more posts</a>

</BaseLayout>