---
import BaseLayout from '../layouts/BaseLayout.astro';
import ChessStats from '../components/chesscom.tsx';
const pageTitle = "My Stats";

import Strava from "../components/strava.js";
import fontColorContrast from "font-color-contrast";
import ErrorRenderer from "../Error.astro";

let data, error
try {
  const strava = new Strava()
  data = await strava.fetch()
} catch (e) {
  error = e.message
  if (error.includes("401")) {
    throw Error(
      "Something went wrong with the Strava API, try updating your refresh_token",
    )
  }
}

const bgColor = "#ffffff";
const color = "#0000FF";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Check out my stats&#x1F60E</h2>
  <ChessStats client:load />

  <h3>Strava stats</h3>
  {
    !error && (
      <html id="html" lang="en" class="no-mobile no-js">
        <head>
          <meta charset="UTF-8" />
        </head>
        <body>
          <a
            href={data.url}
            target="_blank"
            rel="noopener noreferrer"
            class="widget flex items-center gap-2 h-12 w-80 overflow-hidden relative select-none"
            style={`background: ${bgColor}`}
            >
            <img class="h-12 aspect-square object-cover" src={data.image} />
            <div class="flex flex-col">
              <span class="text-xs">{data.copy}</span>
              <h1 class="line-clamp-1 text-2xl">{data.title}</h1>
            </div>
            <div class="absolute right-0 bottom-0 z-10 opacity-35 h-4/6">
              <svg
                class="h-10"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
              >
                <path d="m15.387 17.944-2.089-4.116h-3.065L15.387 24l5.15-10.172h-3.066m-7.008-5.599 2.836 5.598h4.172L10.463 0l-7 13.828h4.169" />
              </svg>
            </div>
          </a>

        </body>
      </html>
    )
  }
  <ErrorRenderer error={error} />
  
  <style define:vars={{ color }}>
    .widget {
      //color: var(--color);
      fill: var(--color);
    }
  </style>
</BaseLayout>
