<!-- BlogPost.astro -->
---
const { url, title, image, pubDate, readTime } = Astro.props;

const formattedPubDate = new Date(pubDate).toLocaleDateString('en-US', { 
  day: 'numeric', 
  month: 'long', 
  year: 'numeric' 
});
---
<li class="blog-post">
  <a href={url}>
    <div class="post-wrapper">
      {/* Thumbnail Image */}
      {image?.url && (
        <img 
          src={image.url} 
          alt={image.alt || title} 
          class="blog-thumbnail" 
        />
      )}
      {/* Title */}
      <p class="post-title">{title}</p>

      {/* Publication Date + Read Time */}
      <span class="pub-date">
        <i>{formattedPubDate}</i>
        {readTime && ` · ${readTime} min read`}
      </span>
    </div>
  </a>
</li>
