---
const site = "GitHub";
const username = "josholiv";


const bluesky = "Bluesky";
const usernamebsky = "josholivier"
---

<footer>
  <p>Learn more about my projects on <a href={`https://www.${site}.com/${username}`}>{site}</a> and 
    <a href={`https://${usernamebsky}.bsky.social/`}>{bluesky}</a>!</p>
</footer>