---
import BaseLayout from './BaseLayout.astro';
const { frontmatter, readTime } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <a href="/blog" class="back-link">← Blog Home</a>
  <p><i>{frontmatter.pubDate.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' })}</i></p>
  <p>Written by: <strong>{frontmatter.author}</strong></p>
  <p><em>{readTime} minute read</em></p>
  <img src={frontmatter.image.url} class="blog-pic" width="100" alt={frontmatter.image.alt} />
    
  <div class="tags">
    {frontmatter.tags.map((tag: string) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>  
    ))}
  </div>

  <slot />
  <a href="/blog" class="back-link">← Blog Home</a>
</BaseLayout>
