---
import { User } from "lucide-preact";

import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>

  <div style="margin-bottom: 3em">
    <span class="pub-date">
      {frontmatter.pubDate.toLocaleDateString('en-US', { 
        year: 'numeric', 
        month: 'long', 
        day: 'numeric', 
        timeZone: 'UTC'})}
    </span>

    <span class="post-author">| <User size={"1rem"} class="inline-block mr-1" /> {frontmatter.author} | </span>

    <span class="post-read-time">
      {frontmatter.readTime} minute read
    </span>
  </div>

  <!-- <img src={frontmatter.image.url} class="blog-pic" width="100" 
    alt={frontmatter.image.alt} /> -->

  <div style="margin-bottom: 2em" class="tags">
    {frontmatter.tags.map((tag: string) => (
      <a href={`/blog?tag=${tag}`} class="tag" role="button">
      #{tag}
     </a>
    ))}
  </div>

<hr>

  <slot />
</BaseLayout>
